/*===========================
 Style: Theme Nine
===========================*/
.pgcu-theme-9{
    .pgcu-post{
        @include e(img){
            a img{
                border-radius: 6px;
            }
        }
        @include e(content){
            padding: 20px;
            box-shadow: 0 5px 20px rgba(#A2A4C1, 0.2);
        }
        @include e(title){
            margin-bottom: 12px !important;
        }
        @include e(excerpt){
            margin-bottom: 14px !important;
        }
        @include e(details){
            padding-top: 16px;
            .pgcu-post__meta__categories{
                margin-bottom: 7px !important;
                a{
                    font-size: 13px;
                    font-weight: 500;
                    color: var(--pgcu-categoryColor);
                    &:hover{
                        color: var(--pgcu-categoryColorHover);
                    }
                }
            }
            .pgcu-post__meta__categories-more{
                a{
                    color: #4F515A;
                }
            }
        }
        @include e(author){
            border-top: 1px solid #EFEFEF;
            padding-top: 16px;
        }
    }
}