/*===========================
 Style: Theme One
===========================*/
.pgcu-theme-1{
    .pgcu-post{
        @include e(title){
            margin-bottom: 12px !important;
        }
        @include e(meta){
            margin-bottom: 16px !important;
        }
        @include e(excerpt){
            margin-bottom: 14px !important;
        }
        @include e(details){
            padding: 20px;
        }
    }
}