/*===========================
 Style: Theme Fourteen
===========================*/
.pgcu-theme-14{
    .pgcu-post{
        @include e(title){
            margin-bottom: 20px !important;
        }
        @include e(details){
            padding: 30px 20px 20px;
            position: relative;
            .pgcu-post__meta__categories{
                margin-bottom: 7px !important;
                a{
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--pgcu-categoryColor);
                    text-transform: uppercase;
                    transition: 0.3s ease;
                    &:hover{
                        color: var(--pgcu-categoryColorHover);
                    }
                }
            }
            .pgcu-post__meta__categories-more{
                text-align: left;
                a{
                    color: #4F515A;
                    display: block;
                    &:not(:last-child){
                        margin-bottom: 8px;
                    }
                }
            }
        }
        @include e(meta){
            margin-bottom: 20px !important;
        }
        @include e(meta-boxed){
            .pgcu-post__meta{
                margin-bottom: 0 !important;
            }
        }
        .pgcu-post__meta__categories--box-white{
            background: #fff;
            border-radius: 8px;
            margin: 0 !important;
        }
        .pgcu-post__img + .pgcu-post__details{
            .pgcu-post__meta__categories--box-white{
                width: calc(100% - 50px);
                min-height: 67px;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}