//Mixin
//BEM Element and Modifier
@mixin e($element) {
    &__#{$element} {
        @content;
    }
}

@mixin m($modifier) {
    &--#{$modifier} {
        @content;
    }
}

//variables
$primary: #F31C1C;
$borderColor: #EBEDF2;
$textColor: #63666D;
$textLight: #9C9DAB;
$textDark: #030213;

:root {
    /* Default Variables */
    --pgcu-primaryColor: $primary;
    --pgcu-borderColor: $borderColor;
    --pgcu-textColor: $textColor;
    --pgcu-textLight: $textLight;
    --pgcu-textDark: $textDark;

    /* Post Title */
    --pgcu-titleFontSize: 20px;
    --pgcu-titleColor: $textDark;
    --pgcu-titleColorHover: $primary;

    /* Post Meta */
    --pgcu-metaFontSize: 14px;
    --pgcu-metaColor: $textLight;
    --pgcu-metaColorHover: $primary;

    /* Read more link */
    --pgcu-readMoreColor: $textDark;
    --pgcu-readMoreColorHover: $primary;

    /* Buttons */
    --pgcu-buttonColor: $textDark;
    --pgcu-buttonColorHover: #fff;
    --pgcu-buttonBg: #EFEFEF;
    --pgcu-buttonBgHover: $textDark;

    /*  */
}
