/*
    Plugin: Post Grid Carousel Ultimate
    Plugin URI: https://wordpress.org/plugins/post-grid-carousel-ultimate/
    Author: wpWax
    Version: 2.0
*/

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
//Configurable scss files
@import "./config";
@import "./general";
@import "./grid";
@import "./keyframes";
@import "./components";
@import "./utilities";
@import "./pagination";
//Grid styles
@import "./themes/theme-one";
@import "./themes/theme-two";
@import "./themes/theme-three";
@import "./themes/theme-four";
@import "./themes/theme-five";
@import "./themes/theme-six";
@import "./themes/theme-seven";
@import "./themes/theme-eight";
@import "./themes/theme-nine";
@import "./themes/theme-ten";
@import "./themes/theme-eleven";
@import "./themes/theme-twelve";
@import "./themes/theme-thirteen";
@import "./themes/theme-fourteen";
@import "./themes/theme-fifteen";
@import "./themes/theme-sixteen";
@import "./themes/theme-seventeen";
@import "./themes/theme-eighteen";
@import "./themes/theme-nineteen";
@import "./themes/theme-twenty";