.tabs-menu {
    margin-top: 30px;
    margin-bottom: 0;
    height: 39px;
    clear: both;
} 

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 8px;
    background-color: #e4e4e4;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    margin-bottom: 0;
    padding: 4px 7px;
    font-weight: 700;
    font-size: 15px;
}

.tabs-menu a:active, .tabs-menu a:focus, .tabs-menu .current a:active, .tabs-menu .current a:focus {
    box-shadow: none;
}

.tabs-menu li a {
    padding: 10px;
    color: #555;
    text-decoration: none; 
}

.tabs-menu li:hover {
    background-color: #fff;
    color: #464646;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu .current a {
    color: #000;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;   
}


/* css for support page*/
.wrap .wpcs-admin-extra{
    padding:25px;
}
.adl_support_wrapper .wrap.wrap_left {
    width: 60%;
}
.adl_support_wrapper .wrap {
    float: left;
    margin-right: 20px;
}
.adl_support_wrapper .wrap.wrap_right {
    width: 30%;
}
.adl_support_wrapper .wrap.wrap_right .postbox {
    background: #f0f9dc;
    padding: 0 0 10px;
}
ul.adl_pro_features {
    padding: 0 23px;
}
.adl_pro_features li {
    font-size: 13px;
    line-height: 22px;
    color: #333;
    position: relative;
    margin-bottom: 6px;
}
.adl_pro_features li:before {
    content: "\f522";
    font-family: 'dashicons', 'sans-serif';
    margin-right: 4px;
    display: inline-block;
    vertical-align: -1.9px;
}
.adl-upgrade-content-wrapper-right h3 {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background: #0085ba;
    text-align: center;
    padding: 12px 0;
    margin: 0;
}
.adl_support_wrapper .wrap.wrap_right .text-center {
    margin-left: 23px;
}